.icon {
  display: inline-block;
  object-fit: contain;
  pointer-events: none;
}

.icon[data-variant="library"] {
  filter: drop-shadow(0 5px 0 #000000);
}

.icon[data-variant="site"] {
  filter: drop-shadow(0 5px 0 #000000);
}
